
  body{
    background-color: #FFF8F3;
  }

  hr{
    border-style: dotted none none;
    border-width: 10px;
    border-color:grey;
    width: 10%;
  }

  h1{
    color: #66BFBF;
  }
  h3{
    color: #66BFBF;
  }
