
h1{
  margin: 60px auto 0 auto;
  font-family: 'Licorice', cursive;
  font-size: 625%;
  color: #145A32;
  line-height: 200%;
}

/*100% is 16 px*/

h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    color: #145A32;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #145A32;
}

hr{
  clear: both;
  border-width: 0px;
  width: 0px;
  margin: 50px auto;
  visibility:hidden;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #D4EFDF;
}

.navbar{
  background-color: #8A9A5B;
}

.navbar-nav {
    margin-left: auto;            
}

p{
  line-height: 2;
}

.intro{
  width:30%;
  margin: 3% auto 30px auto;

}

.profilePic{
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 3%;
}

.top-container{
  background-color: #8A9A5B;
  border:20px;
  padding-top: 100px;
}

.top_cloud{
  position: relative;
  right: -22%;
  bottom: 30%;

}

.bottom_cloud{
  position: absolute;
  left:15%;

}



.skill-row{
  width:50%;
  margin : 100px auto 100px auto;
  text-align: left;
}



.skill1-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right:10%;

}

.skill2-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left:10%;

}

.skill3-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right:10%;
}

.contact-me{
    padding-bottom: 40px;
    line-height: 2;
}

.bottom-container{
  background-color: #1D8348;
  padding-top: 30px;
  padding-bottom: 10px;
}
.btn {
  background: #1D8348;
  background-image: -webkit-linear-gradient(top, #1D8348, #1D8348);
  background-image: -moz-linear-gradient(top, #1D8348, #1D8348);
  background-image: -ms-linear-gradient(top, #1D8348, #1D8348);
  background-image: -o-linear-gradient(top, #1D8348, #1D8348);
  background-image: linear-gradient(to bottom, #1D8348, #1D8348);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #55cf88;
  background-image: -webkit-linear-gradient(top, #55cf88, #42ab6e);
  background-image: -moz-linear-gradient(top, #55cf88, #42ab6e);
  background-image: -ms-linear-gradient(top, #55cf88, #42ab6e);
  background-image: -o-linear-gradient(top, #55cf88, #42ab6e);
  background-image: linear-gradient(to bottom, #55cf88, #42ab6e);
  text-decoration: none;
}

.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}

a{
  color:black ;
  text-decoration: none;
  display: inline;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.copyright{
  color:white;
  font-size: 0.75rem;
  padding-top: 20px;
}

a:hover{
  color:#145A32;
}
